<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/productDetail.css">

    <title>Playground-Jugueteria</title>
</head>
<body>
    <!--Cabecera del sitio-->
    <%- include('../partials/navbar.ejs') %>
    <!--Detalle de Producto seccion-->
    <div class="titulo">
        <h1>Detalle del producto #<%= products.product_id %></h1>
    </div>
    <div class="container-detail-products">
        <div class="container-detalle">
            <div class="imagen">
                <img class="imagenes" src="/images/Products/<%= products.image %>" alt=""></img>
            </div>
            <div class="detalle">
                <div class="titulo-producto">
                    <h2><%= products.title %></h2>
                </div>
                <div class="description-producto">
                        <div class="descripcion-box">
                            <p class="descripcion">Descripción:</p>
                            <h4><%= products.description %></h4>
                        </div>
                        <div class="precio-box">
                            <p class="precio">Precio:</p>
                            <h4>$<%= products.price %></h4>
                        </div>
                        <div class="marca-box">
                            <p class="precio">Marca:</p>
                            <h4><%= products.trademarks.trademark_name %></h4>
                        </div>
                        <div class="categoria-box">                     
                            <p class="precio">Categoria:</p>
                            <h4><%= products.categories.Pcategory_name %></h4>  
                        </div>              
                        <div class="btn-action-product">
                            <form action="/products/delete/<%= products.product_id %>?_method=DELETE" method="POST">
                                <input class="editar" onclick="location.href='/products/edit/<%= products.product_id %>'"
                                    type="button" value="Editar">
                                <button type="submit" class="eliminar">Eliminar</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </body>
</html>