<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/products.css" />
    <title>Lista de productos</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1 class="titulo">Listado de productos</h1>
    <div class="contenedor_principal">
      <section class="menu">
        <% productos.forEach(function(productos) { %>
        <a href="/products/detail/<%= productos.product_id %>">
          <article>
            <div class="imgen-contenedor">
              <img src="/images/Products/<%= productos.image %>" alt="" />
              <!-- <img src="https://picsum.photos/500/300/?image=5" alt="" /> -->
            </div>
            <ul class="info-box">
              <li><h3 class=""><%= productos.title %></h3></li>
              <li><p><%= productos.description %></p></li>
              <li>Precio: $<%= productos.price %></li>
            </ul>
            <div class="button-ver">
              <button class="btn-ver">Ver producto</button>
            </div>
          </article>
        </a>
        <% }) %>
      </section>
    </div>
  </body>
</html>
