<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/productDetail.css">

    <title>Playground-Jugueteria</title>
</head>
<body>
    <!--Cabecera del sitio-->
    <%- include('../partials/navbar.ejs') %>
    <!--Detalle de Producto seccion-->
    <div class="titulo">
        <h1>Detalle del producto</h1>
    </div>
    <div class="container-detail-products">
        <div class="container-detalle">
         <div class="imagen">
            <img class="imagenes" src="/images/Products/<%= product.imagen %>"  alt=""></img>
            </div>
            <div class="detalle">
                <h2><%= product.titulo %></h2>
                <br>
                <p>N° Producto:<%= product.id %></p>
                <br>
                <p class="descripcion">Descripción:</p>
                    <p><%= product.descripcionCorta %></p>
                <br>
                <p class="precio">Precio:</p>
                    
                    <h3>$<%= product.precio %></h3>
                
                  <div class="btn-action-product">
                      <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" >
                          <input class="editar" onclick="location.href='/products/edit/<%= product.id %>'" type="button" value="Editar" >
                          <button type="submit" class="eliminar">Eliminar</button>
                      </form>
                  </div>
            </div>
        </div>
    </div>
    </body>
</html>