<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/mainIcons.css" />
    <link rel="stylesheet" href="/stylesheets/slideHeader.css" />
    <link rel="stylesheet" href="/stylesheets/edades.css" />
    <link rel="stylesheet" href="/stylesheets/destacados.css" />

    <title>Playground-Jugueteria</title>
  </head>

  <body>
    <!--Imagen de fondo-->

    <!--Cabecera del sitio, Logo, buscador y carrito de compra-->

    <%- include('partials/navbar.ejs') %> <%-
    include('partials/slideHeader.ejs') %>

    <!--Iconos secciones-->
    <%- include('partials/mainIcons.ejs') %>

    <!-- Seccion edades -->
    <%- include('partials/edades.ejs') %>
    <!-- Second image -->
    <%- include('partials/destacados.ejs') %>
    <!-- Third image -->

    <!--Productos Destacados-->

    <!--Nuestras Marcas-->

    <!--Footer-->
  </body>
</html>
