<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/stylesheets/styles.css" />

    <title>Playground-Jugueteria</title>
  </head>

  <body>
    <!--Cabecera del sitio, Logo, buscador y carrito de compra-->
    <%- include('partials/navbar.ejs') %>
    <!--SECCION DE SLIDE HEADER-->
    <%-include('partials/slider_header.ejs') %>
    <!--SECCION DE ICONOS INFORMATIVOS-->
    <%- include('partials/mainIcons.ejs') %>
    <!-- SECCION EDADES -->
    <%- include('partials/edades.ejs') %>
    <!-- SECCION PRODUCTOS DESTACADOS -->
    <%- include('partials/destacados.ejs') %>
    <!-- SECCION DE MARCAS -->
    <%- include('partials/marcas.ejs') %>
    <!--SECCION FOOTER-->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
