<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link rel="stylesheet" href="/stylesheets/productsEdit.css">
        <script defer src="/javascripts/validatorProducts.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <title>Formulario ingreso</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>


        <main class="container-main">
            <a href="/">
                <img src="/images/Logo/Logo.png" alt="Logo Playground Jugueteria"></img>
            </a>
        </main>

        <!--Menú-->
        <nav class="main-navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#marcas">Marcas</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/users">Usuarios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
        </div>

        <form class="Formulario" action="/products/edit/<%= Product.product_id %>?_method=PATCH" method="POST"
            enctype="multipart/form-data">


            <div class="formato">

                <div>
                    <label for="titulo" class="lnombre">Nombre del producto:</label>
                    <input type="text" id="titulo" name="titulo" value="<%= Product.title %>"  class="nombre">
                    <% if(locals.errorsproducts && locals.errorsproducts.titulo){ %>
                        <span>
                            <%= errorsproducts.titulo.msg %>
                        </span>

                        <% } %>
                </div>
                <div class="">
                    <label for="precio" class="lprecio">Precio del producto:</label>
                    <input type="number" id="precio" name="precio" value="<%= Product.price  %>"  class="precio">
                    <% if(locals.errorsproducts && locals.errorsproducts.precio){ %>
                        <span>
                            <%= errorsproducts.precio.msg %>
                        </span>

                        <% } %>
                </div>

            </div>

            <div>
                <label for="descripcionCorta" class="ldescripcion">Descripción:</label>
                <input type="text" id="descripcionCorta" name="descripcionCorta" value="<%= Product.description %>"  class="descripcion">
                <% if(locals.errorsproducts && locals.errorsproducts.descripcionCorta){ %>
                    <span>
                        <%= errorsproducts.descripcionCorta.msg %>
                    </span>

                    <% } %>
            </div>

            <div class="formato">
                <div>
                    <label for="" class="lnombre">Marca</label>
                    <select name="marca" id="marca">

                        <% for (let i=0; i < trademarks.length; i++) {%>

                            <option value="<%= trademarks[i].trademark_id %>">
                                <%= trademarks[i].trademark_name %>
                            </option>

                            <% }%>

                    </select>
                </div>

                <div>
                    <label for="" class="lnombre">Categoria</label>
                    <select name="category" id="category">

                        <% for (let i=0; i < categories.length; i++) {%>

                            <option value="<%= categories[i].Pcategory_id %>">
                                <%= categories[i].Pcategory_name %>
                            </option>

                            <% }%>

                    </select>
                </div>


            </div>


            <label for="imagenProducto" class="lnombre">Imagen de Producto</label>
            <input type="file" name="imagenProducto" id="imagenProducto">
            <input class="btnenviar" type="submit" value="GUARDAR">

        </form>



        <%- include('../partials/slider_dinamico.ejs') %>

            <!--Footer-->

            <%- include('../partials/footer.ejs') %>

</body>

</html>